<div class="row inputGroup center">
	<input type="text" [className]="nameStyle" placeholder="Nome" [(ngModel)]="name">
	<input type="text" [className]="lastNameStyle" placeholder="Sobrenome" [(ngModel)]="lastName">
	<input type="text" onkeypress='return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57)' [className]="participationStyle" placeholder="Participação" [(ngModel)]="participation">
	<input type="submit" class="submitInput" value="ENVIAR" (click)="newEmployee();">

</div>	
