.nameInput{
	position: absolute; 
	border: 0px solid;
	width: 17%;

}

.lastNameInput{
	position: absolute; 
	margin-left: 18%;
	border: 0px solid;
	width: 17%;
}

.participationInput{
	position: absolute; 
	margin-left: 36%;
	border: 0px solid;
	width: 17%;
}

.submitInput{
	position: absolute; 
	margin-left: 54%;
	width: 9%;
	background-color: transparent;
	color: white;
	border-color: white;
	border-style: solid;
}

input{
	
	height: 50px;
}

.inputGroup{
	top: 57%;
	left:50%;

}

.center {
	margin: auto;
	width: 65%;
}

.invalid{
    border: 2px solid red;
}