{{data}}
<table class="table-bordered" *ngIf="employees">
	<thead>
		<tr> 
			<th style="width: 5%;"> </th>
			<th>Nome</th>
			<th>Sobrenome</th>
			<th class="text-center">Participação</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let employee of employees.employees; let i = index">
		<tr>
			<td style="text-align: center;">{{i+1}}</td>
			<td>{{employee.name}}</td>
			<td>{{employee.lastName}}</td>
			<td style="text-align: center;">{{employee.participation}}%</td>
		</tr>	
		</ng-container>
	</tbody>
	
</table>