.upperContainer{
	background-color: #00b8e2; 
	height: 230px;

}

.bottomContainer{
	background-color: white; 
	height: 704px;
}

.title{
	margin-top: 43px;
	font-family: "Arial MT", "Arial";
	color: white;
	font-weight: bold;
}

.subtitle{
	margin-top: 22px;
	font-family: "Arial MT", "Arial";
	color: white;
}

.dataTitle{
	margin-top: 90px;
}
