<div class="container-fluid upperContainer">

		<div class="row" style="height: 65px">
			<div class="col-md-12">
				<h2 class="text-center title">	CADASTRE-SE </h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h6 class="text-center subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
			</div>
		</div>

		<app-employee-form> </app-employee-form>

		

</div>
<div class="container-fluid bottomContainer" style="">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center dataTitle"> DADOS </h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h6 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-3  text-center">
			<app-list-people> </app-list-people>
			
		</div>
		<div class="col-md-3 text-center">
			<app-doughnut-chart> </app-doughnut-chart>
		</div>
	</div>
</div>